[Unit]
Description=IgH EtherCAT Master
Documentation=https://gitlab.com/etherlab.org/ethercat
After=network.target rt-setup.service
Before=codesyscontrol.service

[Service]
Type=forking
EnvironmentFile=-/etc/ethercat.conf
ExecStart=/usr/sbin/ethercatctl start
ExecStop=/usr/sbin/ethercatctl stop
RemainAfterExit=yes
# EtherCAT master thread is pinned to CPU2 with SCHED_FIFO 90 by rt-setup.sh
# These defaults apply before rt-setup.sh runs
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=89
CPUAffinity=2
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
